{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 my-5">
        <div class="row h-100">
            <div class="col-12 my-auto bg-light">
                <div>
                    <h1 class="display-4 logo-font text-black text-center">
                        Frequently Asked Questions
                    </h1>
                    <div id="questions-div" class="my-5">
                        <p class="text-uppercase text-red py-3"> How do I update my delivery address?</p>
                        <p class="text-yellow">You can update your delivery address in the my profile tab</p>
                        <p class="text-uppercase text-red py-3">Where is my order?</p>
                        <p class="text-yellow">Your order will be delivered with in 3 working days. Orders are usually dispatched the same day</p>
                        <p class="text-uppercase text-red py-3"> My cans arrived damaged</p>
                        <p class="text-yellow">Your order will be carefully packaged, but in the event your products arrive damaged <a href="{% url 'contact' %}">contact us</a> to assist you further</p>
                        <p class="text-uppercase text-red py-3">Recomended Beer Temperature</p>
                        <p class="text-yellow">The recomended temperature for your beer is between 7 and 10 degrees Celcious</p>
                    </div>
                    <div class="my-5">
                        <p>
                            <a href="{% url 'home' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Home</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>            
{% endblock %}