{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 my-5">
        <div class="row h-100">
            <div class="col-5 col-md-5 mb-auto border border-light">
                <div>
                    <h1 class="display-4 logo-font text-black">
                        Best Seller!
                    </h1>
                    <div class="my-5">
                        <p>
                            <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Best sellers</a>
                        </p>
                    </div>
                </div>

            </div>
            
        </div>
    </div>            
{% endblock %}