html {
    height: 100%;
}

h1,
h2,
h3 {
    font-family: 'Lobster', cursive;
}

body {
    background: url('/media/background_home.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

a.category-badge > span.badge:hover {
    background: #E6BB1A !important;
    color: #fff !important;
}

.text-red {
    color: #AF0707;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}
  
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.7;
}
  
div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.text-white {
    color:#ffffff;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 1121px) {
    .site-title{
        font-size: x-large;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.center {
    text-align: center;
}

#footer {
    background: #AF0707;
    /* padding: 24px; */
    font-size: 12px;
    color: #CCC;
    text-align: center;
}

.copyright {
    background-color: #E6BB1A;
}

.socials i {
    color: black;
}

#delivery-banner {
    background-color: #E6BB1A;
}

/* 
---------------------------------------------
Contact
--------------------------------------------- 
*/

.contact-information {
    background-color: #AF0707;
    border: 1px solid #AF0707;
    color: white;
    padding: 30px;
    border-radius: 8px;
  }
  
  .opening-hours {
    background-color: #AF0707;
    border: 1px solid #AF0707;
    color: white;
    padding: 30px;
    border-radius: 8px;
    margin: 0 auto;
    width: 60%;
    text-align: center;
  }
  
  .contact-form {
    padding: 20px;
    background-color: #E6BB1A;
    margin-bottom: 2rem;
  }

  /* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}