{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/rating.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h2 class="logo-font text-white text-center">{{ product.name }} 
                </h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- <div class="overlay"></div> -->
<div class="col-sm col-md-8 offset-md-2 p-2 my-5 bg-light">
    <form method="post" class="review_form">
        {% csrf_token %}
        {{ form |crispy }}
        <input type="submit" value="Update">
    </form>
</div> 

{% endblock %}